/* --------------------------------------------------------------------------------------------------------------------------------------------------
Common
-------------------------------------------------------------------------------------------------------------------------------------------------- */
body button,
body .button {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-family: var(--heading-font);
  font-weight: 700;
  height: var(--element-height);
  min-width: var(--element-height);
  padding: 0;
  text-transform: uppercase;
}
body button.primary,
body .button.primary {
  color: var(--primary-color);
}
body button.secondary,
body .button.secondary {
  color: var(--secondary-color);
}
body button.tertiary,
body .button.tertiary {
  color: var(--tertiary-color);
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
Mobile
-------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------
Tablet
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 540px) and (max-width: 992px) {
  h1 {
    font-size: calc(100px + 4vw);
  }
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------
Desktop
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 992px) {
  h1 {
    font-size: calc(120px + 2vw);
  }
}