/* --------------------------------------------------------------------------------------------------------------------------------------------------
Common
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@mixin flexbox($align: center, $justify: center, $direction: row) {
    align-items: $align;
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

body {
    button,
    .button {
        @include flexbox();
        background-color: transparent;
        border: none;
        font-family: var(--heading-font);
        font-weight: 700;
        height: var(--element-height);
        min-width: var(--element-height);
        padding: 0;
        text-transform: uppercase;

        &.primary {
            color: var(--primary-color);
        }

        &.secondary {
            color: var(--secondary-color);
        }

        &.tertiary {
            color: var(--tertiary-color);
        }
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
Mobile
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 540px) {
    body {
        
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
Tablet
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 540px) and (max-width: 992px) {
    h1 {
        font-size: calc(100px + 4vw);
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
Desktop
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 992px) {
    h1 {
        font-size: calc(120px + 2vw);
    }
}