/* --------------------------------------------------------------------------------------------------------------------------------------------------
Common
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@mixin flexbox($align: center, $justify: center, $direction: row) {
    align-items: $align;
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin visuallyhidden() {
    visibility: hidden;
}

body {
    &.nav-open {
        #shopify-section-header {
            .header-inner {
                .header-nav {
                    .header-nav-trigger {
                        .icon--bars {
                            @include visuallyhidden();
                        }
                    }
                }
            }
        }
    }

    &:not(.nav-open) {
        .icon--delete {
            @include visuallyhidden();
        }
    }
}

#shopify-section-header {
    background-color: var(--primary-color);
    box-sizing: border-box;

    .header-inner {
        @include flexbox($justify: space-between);

        .header-nav {
            .header-nav-trigger {
                position: relative;
                z-index: var(--z-index-mid);

                .icon--bars,
                .icon--delete {
                    transition: var(--fast-transtion);
                }

                .icon--bars {
                    transform: scaleY(1);
                }

                .icon--delete {
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%) scaleY(0);

                    svg {
                        width: calc(var(--icon-width) * 0.75);
                    }
                }
            }

            .navigation {
                margin: 0;
                z-index: var(--z-index-low);

                .navigation-inner {
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;

                    .nav-item {
                        display: inline-block;
                        font-family: var(--heading-font);
                        text-transform: uppercase;
                
                        .nav-link {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
Mobile
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 540px) {
    #shopify-section-header {
        padding: var(--base-padding) calc(var(--base-padding) * 2);
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
Mobile & Tablet
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 992px) {
    body {
        &.nav-opening {
            #shopify-section-header {
                .header-inner {
                    .header-nav {
                        .header-nav-trigger {
                            .icon--bars {
                                transform: scaleY(0);
                            }

                            .icon--delete {
                                transform: translateY(-50%) scaleY(0);
                            }
                        }

                        .navigation {
                            display: flex;
                        }
                    }
                }
            }
        }

        &.nav-open {
            #shopify-section-header {
                .header-inner {
                    .header-nav {
                        .header-nav-trigger {
                            .icon--delete {
                                transform: translateY(-50%) scaleY(1);

                                svg {
                                    fill: var(--white-color);
                                }
                            }
                        }

                        .navigation {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }

    #shopify-section-header {
        .header-inner {
            .header-nav {
                .navigation {
                    align-items: flex-start;
                    background-color: var(--secondary-color);
                    bottom: 0;
                    display: none;
                    flex-direction: column;
                    justify-content: flex-start;
                    left: 0;
                    overflow-y: scroll;
                    padding-top: calc(var(--base-padding) * 6);
                    position: fixed;
                    right: 0;
                    top: 0;
                    transition: var(--slow-transtion);
                    transform: scale(0);

                    &:after {
                        background-image: url('https://cdn.shopify.com/s/files/1/0676/1843/9427/files/contour-background-v2.png?v=1702724627');
                        background-position: center;
                        background-size: cover;
                        bottom: 0;
                        content: '';
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: var(--z-index-lowest);
                    }

                    .section-title {
                        margin-left: calc(var(--base-padding) * 2);
                        position: relative;
                        z-index: var(--z-index-low);
                    }

                    .navigation-inner {
                        @include flexbox(flex-start, flex-start, column);
                        height: 85%;
                        min-height: 450px;
                        overflow-y: scroll;
                        padding: 0 calc(var(--base-padding) * 2);
                        width: 100%;

                        .nav-item {
                            position: relative;
                            z-index: var(--z-index-low);
                        }
                    
                        .nav-item {
                            opacity: 0;
                            padding: calc(var(--base-padding) / 2) 0;
                            transform: translateX(-50%);
                            transition: var(--default-transtion);
                    
                            &.nav-item-show {
                                opacity: 1;
                                transform: translateX(0);
                            }
                    
                            &.current-nav-item {
                                background-color: var(--primary-color);
                                margin-bottom: calc(var(--base-padding) / 2);
                    
                                .nav-link {
                                    color: var(--secondary-color);
                                    padding: 0 calc(var(--base-padding) / 2);
                                }
                            }
                    
                            .nav-link {
                                color: var(--white-color);
                            }
                        }
                    }
                    
                    .scrolling-text-inner {
                        z-index: var(--z-index-low);
                    }
                }
            }
        }
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
Tablet
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 992px) and (min-width: 540px) {
    #shopify-section-header {
        padding: calc(var(--base-padding) * 2) calc(var(--base-padding) * 4);
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
Desktop
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 992px) {
    #shopify-section-header {
        padding: calc(var(--base-padding) * 2) calc(var(--base-padding) * 6);
        
        .header-inner {
            .header-nav {
                button.header-nav-trigger {
                    display: none;

                    &:hover {
                        background-color: var(--primary-color);
                        color: var(--secondary-color);
                
                        .icon--wrapper {
                            svg {
                                fill: var(--secondary-color);
                            }
                        }
                    }
                }

                .navigation {
                    .section-title,
                    .scrolling-text-inner {
                        display: none;
                    }

                    .navigation-inner {
                        @include flexbox(center, flex-end, row);
                        gap: calc(var(--base-padding) * 2);

                        .nav-item {
                            transition: var(--fast-transtion);

                            &:hover {
                                opacity: .6;
                            }

                            &.current-nav-item {
                                background-color: var(--secondary-color);
                    
                                .nav-link {
                                    color: var(--primary-color);
                                    padding: 0 calc(var(--base-padding) / 2);
                                }
                            }

                            .nav-link {
                                color: var(--secondary-color);
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}