/* --------------------------------------------------------------------------------------------------------------------------------------------------
Common
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@mixin flexbox($align: center, $justify: center, $direction: row) {
    align-items: $align;
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

.scrolling-text-inner {
    @include flexbox(center, center, column);
    overflow-x: hidden;
    position: relative;
    width: 100%;

    .scrolling-text {
        @include flexbox(center, flex-start);
        box-sizing: border-box;
        flex-wrap: nowrap;
        max-width: 120%;
        overflow: hidden;
        padding: calc(var(--base-padding)) 0;

        &.scrolling-text-top {
            background-color: var(--secondary-color);
            z-index: var(--z-index-lowest);

            span {
                animation: scrollingTextTop 8s linear infinite;
                color: var(--white-color);
            }
        }

        &.scrolling-text-bottom {
            background-color: var(--white-color);

            span {
                animation: scrollingTextBottom 8s linear infinite;
                color: var(--secondary-color);
            }
        }

        span {
            display: inline-block;
            font-family: var(--heading-font);
            padding: 0 calc(var(--base-padding) * 3);
            position: relative;
            text-transform: uppercase;
            white-space: nowrap;

            &:after {
                content: '•';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(50%, -50%);
            }
        }
    }
}

@keyframes scrollingTextTop {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scrollingTextBottom {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
Mobile
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 540px) {
    .scrolling-text-inner {
        min-height: 180px;

        .scrolling-text {
            &.scrolling-text-top {
                transform: rotate(8deg) translateY(80%);
            }

            &.scrolling-text-bottom {
                transform: rotate(-3deg);
            }
        }
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
Tablet
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 992px) and (min-width: 540px) {
    .scrolling-text-inner {
        min-height: 240px;

        .scrolling-text {
            &.scrolling-text-top {
                transform: rotate(5deg) translateY(80%);
            }

            &.scrolling-text-bottom {
                transform: rotate(-2deg);
            }
        }
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
Desktop
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 992px) {
    .scrolling-text-inner {
        min-height: 380px;

        .scrolling-text {
            &.scrolling-text-top {
                transform: rotate(5deg) translateY(80%);
            }

            &.scrolling-text-bottom {
                transform: rotate(-2deg);
            }
        }
    }
}